// src/styles/custom.scss

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-weight: 600;
}

.principio{
    font-size: 12px;
}
.container {
    margin-top: 20px;
}

.textoBlanco{
text-decoration: none;
font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;

}

.texto{
text-decoration: none;
font-family: Raleway;
font-size: 24px;
font-weight: 200;
line-height: 10px;
text-align: left;

}

.titulo{
text-decoration: none;
font-size: 60px;
text-align: left;

}

.espacio{
    margin: 120px;
}

.icono{
    width:60px;
}